<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ViewProfile.css">

    <title>user view profile </title>

</head>

<body>
    <div id="main">
        <div class="information-container">
            <div class="information">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">First name: <span>{{data.FIRSTNAME}}</span></li>
                    <li class="list-group-item list-group-item-light">Last name: <span>{{data.LASTNAME}} </span></li>
                    <li class="list-group-item list-group-item-light">Gender: <span>{{data.GENRE}}</span></li>
                    <li class="list-group-item list-group-item-light">Email: <span>{{data.EMAIL}}</span></li>
                    <li class="list-group-item list-group-item-light">Phone number: <span>{{data.PHONENUMBER}}</span></li>
                    <li class="list-group-item list-group-item-light">Address: <span>{{data.ADDRESS_U}}</span></li>
                    <li class="list-group-item list-group-item-light">Bank account: <span>8982948</span></li>
                    <li class="list-group-item list-group-item-light">Bank name: <span>Teckcombank</span></li>
                    <li class="list-group-item list-group-item-light">Created Date: <span>4-2-3</span></li>
            </div>
            <div class="button-update-infor">
                <a href="/AccountUpdate/{{URL_AUTH.pass}}"><button class="button-update" onclick="redirect_updateInformation()"><i class="fas fa-edit"></i>Update information</button></a>
            </div>
            <div class="button-change-pass">
                <a href="/ChangePasswordUser/{{URL_AUTH.pass}}"><button class="button-change" onclick="redirect_changePassword()"><i class="fa fa-key icon"></i> Change password</button></a>
            </div>
        </div>
    </div>

    <script>
        const links = document.querySelectorAll('.nav-link');
        links.forEach(link => {
            link.addEventListener('click', function () {

                links.forEach(link => link.classList.remove('active'));
                this.classList.add('active');
            });
        });

        function redirect_changePassword()
        {
            location.replace('ChangePasswordUser')
        }

        function redirect_updateInformation()
        {
            location.replace('AccountUpdate')
        }
    </script>
</body>

</html>